{% extends 'base.html' %}
{% load static %}
{% block title %} Hirings | {% endblock %}


{% block content %}
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/admin.png' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Car Hirings <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Car Hirings</h1>
          </div>
        </div>
      </div>
    </section>


   <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Client Name</th>
      <th scope="col">Client Phone</th>
      <th scope="col">Pickup Date</th>
      <th scope="col">Pick up time</th>
      <th scope="col">Booked at</th>
      <th scope="col">Cost per day</th>
    </tr>
  </thead>
  <tbody>
    {% for hiring in car_hirings %}
    <tr>
      <th scope="row"><a href="{% url 'hiring-detail' hiring.pk %}">{{ forloop.counter }}</a></th>
      <td><a href="{% url 'hiring-detail' hiring.pk %}">{{ hiring.client_name }}</a></td>
      <td>{{ hiring.phone_number }}</td>
      <td>{{ hiring.pickup_date }}</td>
      <td>{{ hiring.pickup_time }}</td>
      <td>{{ hiring.booked_at }}</td>
      <td>K{{ hiring.vehicle.category.cost_per_day }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p><a href="{% url 'system-admin' %}" class="btn btn-primary py-3 px-4"><<< Back to admin</a></p>

{% endblock %}