{% extends 'base.html' %}
{% load static %}
{% block title %} Room Bookings | {% endblock %}


{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Client Name</th>
      <th scope="col">Client Phone</th>
      <th scope="col">Checkin Date</th>
      <th scope="col">Checkout Date</th>
      <th scope="col">Booked At</th>
      <th scope="col">Cost per day</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <th scope="row"><a href="{% url 'booking-detail' booking.pk %}">{{ forloop.counter }}</a></th>
      <td><a href="{% url 'booking-detail' booking.pk %}">{{ booking.client_name }}</a></td>
      <td>{{ booking.phone_number }}</td>
      <td>{{ booking.checkin_date }}</td>
      <td>{{ booking.checkout_date }}</td>
      <td>{{ booking.booked_at }}</td>
      <td>K{{ booking.room.category.cost_per_night }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p><a href="{% url 'system-admin' %}" class="btn btn-primary py-3 px-4"><<< Admin </a></p>

{% endblock %}